@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

.description {
  text-align: center
}
.flex{
    justifyContent: 'center'
}

@tailwind components;

@tailwind utilities;
